@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$primary:         #534741;

$roboto:          'Roboto Condensed', sans-serif;
