@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  color: #534741;
  line-height: 170%;
  width: 100%;
  height: 100%;
  background-color: #f1f7ec;
  font-family: $roboto;
}

h1,
h2,
h3,
h4 {
  color: #4b3f3a;
  margin-top: 0;
}

h3 {
  font-size: 24px;
  color: #534741;
  letter-spacing: 0.6px;
  line-height: 160%;
}

p {
  font-weight: 300;
  letter-spacing: 0.6px;
  font-size: 20px;
  line-height: 170%;
}

a {
	color: #cc2229;

  &:hover {
    text-decoration: none;
    color: lighten(#cc2229, 10%);
  }
}

// targeting front page
.home {
  .main {
    margin: 0;
  }
}

.page-template {
  .main {
    margin-top: 20px;
  }
}

// targeting default pages
.page {

  .page-header {
    margin-top: 0;
    width: 100%;
    height: auto;
  }
}

.page-id-17 {
  background-color: #fff;
}


// main wrap
.main {
  padding: 0;
  margin-top: 140px;
}

.wrap-page {
	max-width: 780px;
  margin-right: auto;
  margin-left: auto;
}


.hero {
  text-align: center;
  padding: 300px 0 !important;
  margin-bottom: 50px;
  color: #fff;
  text-align: center;
  background-image:
    linear-gradient(rgba(83, 71, 65, 0.1), rgba(83, 71, 65, 0.1)),
    url(../images/ny_hero_forside.jpg);
  background-size: cover;
  background-position: 50% 50%;

  h1 {
    font-size: 80px;
    color: #fff;
  }

  p {
    font-size: 30px;
    font-weight: 300;
  }
}

.forside-intro {
  padding: 0 150px;

  p {
    font-size: 22px;
  }
}

.forside-citat-row {
  background-color: #e8e9e0;
  padding: 0;
  margin: 50px 0;

  .forside-citat-row-col {
    padding: 75px;

    h3 {
      font-weight: 300;
      font-size: 25px;
      line-height: 160%;
      letter-spacing: normal;
    }

    p {
      color: #787878;
    }

    span.quote {
      font-size: 90px !important;
      position: absolute;
      font-weight: 300;
      left: 4%;
      top: 35%;
    }
  }
}


// sidebar styling of child pages
.underliggende-sidebar {
  border-left: 2px solid #d7d8d0;
  padding-left: 20px;

  h3 {
    margin-top: 0;
  }

    ul {
      list-style: none;
      padding-left: 15px;

      li {

        &:not(last-child) {
          margin-bottom: 15px;
        }

        a {
          color: #666;
          text-transform: uppercase;
          font-size: 17px;
          font-weight: 300;
          line-height: 175%;

          &:hover {
            color: $primary;
          }

          &:before {
            font-family: 'FontAwesome';
            content: "\f105";
            padding-right: 5px;
            color: #666;
          }
        }
      }

      li.current_page_item a {
        color: $primary !important;
        font-weight: 700;
      }
    }
  }
















/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 769px) {

  .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

  .navbar-brand {
    padding-top: 30px;
  }

  // nav mobile
  .navbar-default {
    padding: 0 !important;
    background-color: rgba(83, 71, 65, 0.9) !important;
    margin: 0 !important;

    .navbar-toggle {
      border: none;

      &:hover,
      &:focus {
        background-color: transparent;
      }

      span.icon-bar {
				display: block;
				width: 27px;
				height: 3px;
				background-color: #fff;
				border-radius: 2px;
				box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
				margin-top: 4px;
				cursor: pointer
      }
    }

    .navbar-nav {

      li {

        a {
          color: $primary;
        }
      }
    }

    .navbar-collapse {
      border: none;
      margin-top: 0px;
      background-color: rgba(83, 71, 65, 0.9) !important;
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;

      a {
        margin: 25px 0;
        font-size: 17px;
        color: #fff !important;
      }
    }
  }

  .hero {
    text-align: center;
    padding: 150px 0 !important;
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
    background-size: cover;
    background-position: 50% 50%;
  }

  .forside-intro {
    padding: 0;

    p {
      font-size: 22px;
    }
  }

  .forside-citat-row {
    background-color: #e8e9e0;
    padding: 0;
    margin: 50px 0;

    .forside-citat-row-col {
      padding: 30px 20px;
    }

    .forside-citat-row-image {
      height: 200px;
    }
  }

  .page {
    .page-header {
      margin-top: 55px;
    }
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
