.top-nav-collapse {
  padding: 0 !important;
  background-color: rgba(83, 71, 65, 0.9) !important;
  margin: 0 !important;
}

.top-nav-collapse-margin {
  margin: 0 !important;
}

.home {

  .navbar-brand {
    color: #fff;
  }

  .navbar-default {
    background-color: transparent;
    color: #fff;
  }
}

.navbar-brand {
  font-size: 22px;
  color: #fff !important;
  line-height: 0;
  height: auto;
  padding-top: 25px;

  &:hover {
    color: #fff !important;
  }
}

.navbar-default {
  margin: 0;
  padding: 20px 0;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
  border: none;
  background-color: rgba(83, 71, 65, 0.9);

  .navbar-nav {

    .active a {
      background-color: transparent;
      color: #fff;

      &:hover,
      &:focus {
        color: #fff;
        background-color: transparent;
      }
    }

    li {
      margin-left: 25px;

      a {
        font-weight: 300;
        font-size: 19px;
        color: #fff;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}
